/* ========== UMUM ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('bg.jpg') center/cover fixed no-repeat;
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 1.6;
}

/* ========== NAVBAR ========== */
.navbar {
  background: #333;
  padding: 12px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #FFD60A;
}

/* ========== SECTIONS ========== */
section {
  padding: 50px 20px;
  text-align: center;
  margin: 40px auto;
  width: 9
